@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

:root {
    --Yellow: #FFCA40;
    --Red: #c8161d;
    --Black: #000000;
    --Gray: #808080;
    --White: #f8f8f7;
    --scrollbarBG: #cfd8dc;
    --thumbBG: #90a4ae;
}

.col-3 {
    width: 25%;
}